*{
  margin: 0;
  padding: 0;
  border: 1px solid yellow;
}

/* Default class to help with the straightening of content */
.column-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container{
  height: 100vh;
  width: 100vw;
  background: #333;
  font-family: helvetica;
}

header{
  height: 10%;
  width: 100%;
  background: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

header p {
  font-size: 2em;
  color: #333;
  font-weight: bold;
  font-family: Arial;
}

.body{
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainViewport{
  width: 50%;
  height: 75%;
}

.content{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  background: #444;
}

.topContent{
  height: 25%;
}

#title{
  font-size: 1.2em;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

#randomWord{
  margin-top: 20px;
  font-size: 3.5em;
}
/* Color for the number to show it more clearly */
.color{
  color: orange;
}


/* Content for the input box and then decision of game over or you win below */
.input{
  height: 20%;
}

#textBox{
  width: 75%;
  height: 30px;
  font-size: 1.1em;
  outline-style: none;
}

#gameStatus{
  margin-top: 15px;
  font-size: 2em;
  color: #ccc;
}


.timeLeftAndScore{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25%;
}

#timeLeftLabel{
  font-size: 1.4em;
  color: #ccc;
}

#scoreLabel{
  font-size: 1.4em;
  color: #ccc;
}

.instructions{
  background: #e2e2e2;
  border-radius: 10px;
  padding: 15px;
  height: 20%;
  margin: 10px;
}

#instructionsHeader{
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 10px;
}

#instructionsParagraph{
  font-size: 0.9em;
  line-height: 1.5em;
  text-align: center;
}

#startGame{
  height: 50px;
  width: 120px;
  font-size: 1.2em;
  font-family: Helvetica;
  background: #e2e2e2;
  color: #111;
  border-radius: 10px;
  outline-style: none;
}
